@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

:root{
    --bg:#050816;
    --card:#111827;
    --text:#ffffff;
    --purple:#d946ef;
    --purple2:#9333ea;
}

body{
    background:var(--bg);
    color:var(--text);
    overflow-x:hidden;
}

/* Background Glow */

body::before{
    content:"";
    position:fixed;
    width:700px;
    height:700px;
    background:radial-gradient(circle,#d946ef25,transparent 70%);
    top:-250px;
    right:-250px;
    z-index:-2;
}

body::after{
    content:"";
    position:fixed;
    width:700px;
    height:700px;
    background:radial-gradient(circle,#7e22ce20,transparent 70%);
    bottom:-250px;
    left:-250px;
    z-index:-2;
}

/* Mouse Glow */

.cursor-glow{
    position:fixed;
    width:250px;
    height:250px;
    border-radius:50%;
    background:#d946ef15;
    filter:blur(80px);
    pointer-events:none;
    z-index:-1;
}

/* Navbar */

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    backdrop-filter:blur(20px);
    background:rgba(5,8,22,.7);
    z-index:1000;
}

.logo{
    font-size:35px;
    font-weight:800;
    color:var(--purple);
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

nav a:hover{
    color:var(--purple);
}

/* Hero */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 8%;
}

.hero-content{
    max-width:650px;
}

.hero h1{
    font-size:5rem;
    line-height:1.1;
}

.hero h1 span{
    color:var(--purple);
}

.hero h2{
    margin-top:20px;
    color:var(--purple);
    min-height:50px;
}

.hero-text{
    margin:25px 0;
    color:#cfcfcf;
    font-size:1.1rem;
}

/* Buttons */

.btn,
.btn-outline{
    display:inline-block;
    padding:14px 32px;
    border-radius:40px;
    text-decoration:none;
    margin-right:15px;
    transition:.4s;
}

.btn{
    background:linear-gradient(
        90deg,
        var(--purple),
        var(--purple2)
    );
    color:white;
}

.btn:hover{
    transform:translateY(-5px);
    box-shadow:0 0 30px var(--purple);
}

.btn-outline{
    border:2px solid var(--purple);
    color:white;
}

.btn-outline:hover{
    background:var(--purple);
}

/* Profile */

.hero-image{
    position:relative;
}

.hero-image::before{
    content:"";
    position:absolute;
    width:650px;
    height:650px;
    background:#d946ef25;
    border-radius:50%;
    filter:blur(100px);
    z-index:-1;
}

.hero-image img{

    width:550px;
    height:550px;

    object-fit:cover;
    object-position:center top;
    scale:1.10;

    border-radius:50%;

    border:6px solid var(--purple);

    box-shadow:
    0 0 30px var(--purple),
    0 0 80px var(--purple),
    0 0 160px #7e22ce;

    animation:
    float 4s ease-in-out infinite,
    glow 3s infinite alternate;

    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    transform:translateZ(0);
    will-change:transform;
}

@keyframes float{
        0%{
            transform:translate3d(0,0,0);
        }
    
        50%{
            transform:translate3d(0,-8px,0);
        }
    
        100%{
            transform:translate3d(0,0,0);
        }
    
    }
    


@keyframes glow{
    from{
        box-shadow:0 0 30px var(--purple);
    }
    to{
        box-shadow:
        0 0 60px var(--purple),
        0 0 140px #7e22ce;
    }
}

/* Sections */

section{
    padding:80px 8%;
}

#about,
#skills,
#projects,
#quotes,
#contact{

    margin:40px 8%;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border-radius:25px;
}

section h2{
    color:var(--purple);
    margin-bottom:25px;
}

/* Stats */

.stats{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.stat-card{
    width:250px;
    padding:30px;
    text-align:center;
    background:var(--card);
    border-radius:20px;
    transition:.4s;
}

.stat-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 30px var(--purple);
}

.stat-card h2{
    color:var(--purple);
}

/* Skills */

.skill{
    margin-bottom:25px;
}

.skill span{
    display:block;
    margin-bottom:10px;
}

.progress{
    height:12px;
    background:#1f2937;
    border-radius:30px;
    overflow:hidden;
}

.fill{
    height:100%;
    border-radius:30px;
    background:linear-gradient(
        90deg,
        var(--purple),
        var(--purple2)
    );
}

.python{width:90%;}
.ml{width:85%;}
.sql{width:80%;}
.html{width:95%;}
.js{width:75%;}

/* Projects */

.project-container{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.project-card{
    padding:25px;
    background:var(--card);
    border-radius:20px;
    transition:.4s;
}

.project-card:hover{
    transform:translateY(-12px);
    box-shadow:0 0 35px var(--purple);
}

/* Quotes */

#quoteBox{
    background:var(--card);
    padding:30px;
    border-radius:15px;
    text-align:center;
    font-size:1.2rem;
    transition:.5s;
}

/* Contact */

#contact p{
    margin:15px 0;
}

/* Floating Icons */

.floating-icons span{

    position:fixed;

    font-size:40px;

    opacity:.15;

    animation:floatIcon 12s linear infinite;
}

.floating-icons span:nth-child(1){
    left:10%;
}

.floating-icons span:nth-child(2){
    left:35%;
    animation-delay:3s;
}

.floating-icons span:nth-child(3){
    left:60%;
    animation-delay:6s;
}

.floating-icons span:nth-child(4){
    left:85%;
    animation-delay:9s;
}

@keyframes floatIcon{

    0%{
        transform:translateY(110vh);
    }

    100%{
        transform:translateY(-150px);
    }
}

/* Doraemon */

#doraemon-container{

    position:fixed;

    right:-500px;

    bottom:20px;

    z-index:99999;

    display:flex;

    flex-direction:column;

    align-items:center;
}

#doraemon{
    width:180px;
}

.dora-message{

    background:#ff006e;

    color:white;

    padding:8px 15px;

    border-radius:20px;

    margin-bottom:10px;

    font-weight:600;
}

.dora-text{

    background:#3a86ff;

    color:white;

    padding:8px 15px;

    border-radius:20px;

    margin-bottom:10px;
}

.show-doraemon{
    animation:doraMove 8s ease forwards;
}

@keyframes doraMove{

    0%{
        right:-500px;
    }

    20%{
        right:20px;
    }

    80%{
        right:20px;
    }

    100%{
        right:-500px;
    }
}

/* Footer */

footer{
    text-align:center;
    padding:30px;
    color:#888;
}

/* Mobile */

@media(max-width:992px){

    .hero{
        flex-direction:column-reverse;
        text-align:center;
        gap:50px;
    }

    .hero h1{
        font-size:3rem;
    }

    .hero-image img{
        width:300px;
        height:300px;
    }

    .hero-image::before{
        width:350px;
        height:350px;
    }

    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }
}
#doraemon-container{
    background: transparent !important;
}

#doraemon{
    display:block;
    background:none;
    background-color:transparent !important;
}
@media (max-width: 768px) {
    .profile-image{
        margin-top: 80px;
    }
}
